:root{
    --clr-neon: hsl(268, 23%, 32%);
    --clr-bg: hsl(323, 21%, 16%);

}
body{
    background: linear-gradient(to right, #6b1c1c, #fc466b);
    color: var(--clr-neon);

}
h1{
    text-align: center;
    margin: 20px;
    font-size: 5rem;
    color: rgb(208, 214, 218);
}
.dice-area{
    margin: 20px 210px;
    text-align: center;
    display: inline-block;
}

p{
    font-size: 2.5rem;
    color: rgb(208, 214, 218);
}
img{
    width: 200px;
}
.neon-button{
    font-size: 1.5rem;
    position: absolute;
    top: 90%;
    left: 40%;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    background: none;
    text-shadow: 0 0 0.125em;
}

.refresh{
    background-color: #4594e3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}